.header{
    height: 80px;
    background-color: #1c2b35;
    padding:0 auto;
    margin: 0 auto;
}
.header a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 36px;
    font-size: 17px;
} 
.header a:hover{
    color: orange;
}